---
---

@import "minima/skins/{{ site.minima.skin | default: 'solarized-light' }}",
"minima/initialize";


/** Wrapper */
.wrapper {
  max-width: calc(1200px - (30px));
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 300px) {
  .wrapper {
    max-width: calc(1200px - (30px * 2));
    padding-right: 10px;
    padding-left: 10px;
  }
}


@media screen and (min-width: 100px) {
  .footer-col-wrapper {
    display: none;
  }
}

.highlight {
  width: fit-content;
}

pre {
  font-size: calc(0.25rem + 0.6vw);
}


h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight {
  margin-bottom: 6px;
}


