---
---

@import "minima/skins/{{ site.minima.skin | default: 'solarized-light' }}",
"minima/initialize";


/** Wrapper */
.wrapper {
    max-width: calc(1200px - (30px));
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (min-width: 100px) {
    .wrapper {
        max-width: calc(1200px - (30px * 2));
        padding-right: 15px;
        padding-left: 15px;
    }
}


@media screen and (min-width: 100px) {
    .footer-col-wrapper {
        display: none;
    }
}

.highlight {
    width: fit-content;
}

code {
    font-size: calc(0.25rem + 0.6vw);
}


